$main-color: #000000;
$accent-color: #4ca9b4;
$accent-font: 'Abril Fatface', cursive;
$normal: 16px;
$large: 24px;

body {
  background-color: $main-color;
  color: #ffffff;
  font-size: $normal;
  font-family: 'Roboto', sans-serif;
  .page-top {
    .fas {
      display: none;
      font-size: 40px;
      color: $accent-color;
      position: fixed;
      bottom: 150px;
      right: 20px;
    }
  }
}

a {
  color: #ffffff;
  text-decoration: none;
}
